
<label for="type">
	<f:translate key="tx_jtgallery_domain_model_media.type" />
</label><br />
	<f:form.textfield property="type" /><br />
<label for="description">
	<f:translate key="tx_jtgallery_domain_model_media.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="thumbnail">
	<f:translate key="tx_jtgallery_domain_model_media.thumbnail" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="file">
	<f:translate key="tx_jtgallery_domain_model_media.file" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />
<label for="url">
	<f:translate key="tx_jtgallery_domain_model_media.url" />
</label><br />
	<f:form.textfield property="url" /><br />