
<table class="tx-jt-gallery" >
	<tr>
		<td>
			<f:translate key="tx_jtgallery_domain_model_media.type" />
		</td>
		<td>
			{media.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jtgallery_domain_model_media.description" />
		</td>
		<td>
			{media.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jtgallery_domain_model_media.thumbnail" />
		</td>
		<td>
			{media.thumbnail.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jtgallery_domain_model_media.file" />
		</td>
		<td>
			{media.file.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_jtgallery_domain_model_media.url" />
		</td>
		<td>
			{media.url}
		</td>
	</tr>
</table>